<li id="pocket-<%= pocket.id %>">
  <h4 class="content"><%= pocket.content %></h4>
  <span class="right">
    <% if current_user == pocket.user %>
    <%= link_to "delete", pocket, method: :delete,
                                       data: { confirm: "削除してもよろしいですか？" } %>
    <% end %>
  </span>
</li>